header{
    text-align: center;
    background-color: white;
    color: rgb(5, 3, 3);
    font-size: 24px;
    font-weight: 700;
    margin: 120px, 120px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
}
nav a{
    text-decoration: none;
    margin-right: 34px;
    font-size: 16px;
    color: rgb(5, 3, 3);
    text-align: center;
    padding: 10px;
    border-radius: 20px 40px;
}
.site-heading{
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-left: 120px;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    /* margin-left: 0px;
    margin-bottom: 50px;
    margin-right: 0px; */
}
.section-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 140px;
    margin-left: 120px;
    width: 100%;
}
.page-title{
    display: flex;
    flex-direction: column;
    left: auto;
    margin-left: 120px;
}
.title-txt{
    margin-top: 132px;
    font-size: 52px;
}
p{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.button{
    margin-top: 20px;
}
.anchor-button{
    text-decoration: none;
    background-color: #E02C6D;
    margin: auto;
    padding: 10px 40px;
    border-radius: 41px;
    color: white;
 }
 .fa-long-arrow-right{
     size: 5px;
     margin-right: 0px;
 }
.featured-img {
display: flex;
justify-content: center;
align-items: center;
margin-top: 50px;
}

.img-1 {
    position: relative;
    border: none;
}

.img-2 {
    position: absolute;
    border: none;
}
.section-2{
    display: flexbox;
    margin-top: 120px;
    margin-bottom: 100px;
    /* margin-left: 165px; */
    padding-bottom: 100px;
    border: none;
}
.logo img {
    margin-right: 60px;
}
.section-3{
    background-color: #ffffff;
    margin-left: 120px;
}
.section-3-header{
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 30px;
    text-align: center;  
}
.popular-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    filter: drop-shadow(0, 6px, 14px rgba(199, 154, 154, 0.13));
    padding: 20px 20px;
}
.products{
    background: whitesmoke;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.product-banner{
display: flex;
justify-content:space-around;
}
.product-info{
    display: flex;
    justify-content:initial;
    align-items: center;
}
.ratings{
    text-align: left;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #ffc014;
}
.fa-star.empty{
    color: #aeaeae;
}
.product-description{
    text-align: left;
    font-size: 12px;
    width: 50%;
}
.section-4{
text-align: center;
margin-left: 120px;
margin-right: 120px;

}
.section-4-title{
text-align: center;
margin-left: 120px;
margin-right: 120px;
}
.about-us{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 120px;
    margin-right: 120px;
}
.team-txt{
    width: 100%;
    text-align: left;
}
footer{
    text-align: center;
    background-color: #0A0826;
    color: white;
    font-size: 24px;
    padding: 50px;
}
footer a{
    margin-right: 16px;
}

/* responsive css */

@media only screen and (max-width: 688px) {
.topnav{
    display: none;
}
.header{
    text-align: center;
}
.site-heading{
    text-align: center;
}
.section-1, .section-2, .popular-items{
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
}
.about-us{
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
}
.button{
    text-align: center;
}
}
@media only screen and (min-width: 688px) and (max-width: 992px){
    .topnav{
        display: none;
    }
    .header{
        text-align: center;
    }
    .site-heading{
        text-align: center;
    }
    .section-1, .section-2{
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }
    .popular-items{
    margin-left: 0px;
        margin-right: 0px;
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }
    .about-us{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }
    .button{
        text-align: center;
    }
}