header{
    text-align: center;
    background-color: white;
    color: rgb(5, 3, 3);
    font-size: 24px;
    font-weight: 700;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
}
nav a{
    text-decoration: none;
    margin-right: 34px;
    font-size: 16px;
    color: rgb(5, 3, 3);
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
}
.section-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 140px;
    margin-left: 120px;
    width: 100%;
}
.title-txt{
    margin-top: 132px;
    font-size: 52px;
}
p{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.anchor-button{
    text-decoration: none;
    background-color: #E02C6D;
    padding: 10px 40px;
    left: 0px;
    border-radius: 41px;
    color: white;
 }
 .fa-long-arrow-right{
     size: 5px;
     margin-right: 0px;
 }
.fetured-img {
    top: 50;
    margin-right: 120px;
}

.img-1 {
    position: relative;
    top: 50px;
    right: 0px;
    border: none;
}

.img-2 {
    position: absolute;
    top: 150px;
    right: 340px;
    border: none;
}
.section-2{
    display: flexbox;
    margin-top: 120px;
    margin-bottom: 100px;
    margin-left: 165px;
    padding-bottom: 100px;
    border: none;
}
.logo img {
    margin-right: 60px;
}
.section-3{
    background-color: #ffffff;
    margin-left: 120px;
    /* text-align: center; */
}
.section-2-header{
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 30px;
        
}

.popular-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    filter: drop-shadow(0, 6px, 14px rgba(199, 154, 154, 0.13));
    margin-left: 200px;
    margin-right: 200px;
}
.product-info{
    display: flex;
    justify-content:initial;
    align-items: center;
}
.ratings{
    text-align: left;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #ffc014;
}
.fa-star.empty{
    color: #aeaeae;
}
.product-description{
    text-align: left;
    font-size: 14px;
}
footer{
    text-align: center;
    background-color: #0A0826;
    color: white;
    font-size: 24px;
    padding: 50px 50px;
}
footer a{
    margin-right: 16px;
}